<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>A00597EC-7CB5-410D-9154-ACF847EB5A56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB50F272-99EE-4E03-B7DA-1778309E5438</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DB50F272-99EE-4E03-B7DA-1778309E5438</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC9F6AD6-2CBC-4AFA-801B-B354390EF4B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1AF6C1F-6195-48AF-B16C-016FB84CB2BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EDCF709B-EEC7-45D1-9E58-E1A9C6E3A27F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB50F272-99EE-4E03-B7DA-1778309E5438</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chase Fegan</string>
	<key>description</key>
	<string>Copies a custom bit.ly url to the clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bit.ly Link</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>apiKey="YourAPIKeyhere"
login="YourLoginHere"

curl -s --data "apiKey=$apiKey&amp;login=$login&amp;longUrl={query}&amp;format=txt" http://api.bitly.com/v3/shorten | tr -d '\n'
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB50F272-99EE-4E03-B7DA-1778309E5438</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CC9F6AD6-2CBC-4AFA-801B-B354390EF4B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bitly</string>
				<key>subtext</key>
				<string>Copies a custom bit.ly url to the clipboard</string>
				<key>text</key>
				<string>Bit.ly Link</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A00597EC-7CB5-410D-9154-ACF847EB5A56</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EDCF709B-EEC7-45D1-9E58-E1A9C6E3A27F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Link Copied.</string>
				<key>title</key>
				<string>Bit-ly</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F1AF6C1F-6195-48AF-B16C-016FB84CB2BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>A00597EC-7CB5-410D-9154-ACF847EB5A56</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CC9F6AD6-2CBC-4AFA-801B-B354390EF4B3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DB50F272-99EE-4E03-B7DA-1778309E5438</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EDCF709B-EEC7-45D1-9E58-E1A9C6E3A27F</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>F1AF6C1F-6195-48AF-B16C-016FB84CB2BD</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.feganserver.com</string>
</dict>
</plist>
